<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
  <script src="uikit/dist/js/uikit-icons.min.js"></script>
  <title>My Portfolio</title>
</head>

<body>

  {{{body}}}

</body>
<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-text">
    <h2 id="contactme">
      Contact me
    </h2>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li><a target="blank" style="color:black" href="mailto: 17keerti@gmail.com"><span uk-icon="mail"></span>Email</a>
      </li>
      <li><a target="blank" style="color:black" href="https://www.linkedin.com/in/keerti-chaudhary-25331791/"><span
            uk-icon="linkedin"></span>LinkedIn</a></li>
      <li><a target="blank" style="color:black" href="/Keerti_Resume.pdf"><span uk-icon="file-pdf"></span>Resume</a>
      </li>
      <li><a target="blank" style="color:black" href="https://github.com/17keerti"><span
            uk-icon="github"></span>Github</a></li>
    </ul>
  </div>
</nav>

</html>