<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">Keerti</a>
  </div>
  <div class="uk-navbar-right uk-visible@s">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="/"><span uk-icon="home"></span>Home</a></li>
      <li><a href="#aboutme"><span uk-icon="user"></span>About</a></li>
      <li><a href="#projects"><span uk-icon="folder"></span>Projects</a></li>
      <li><a href="#contactme"><span uk-icon="user"></span>Contact me</a></li>
    </ul>
  </div>
  <a class="uk-navbar-toggle uk-hidden@s" uk-toggle="target: #sidenav" uk-navbar-toggle-icon></a>
</nav>
<div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="/"><span uk-icon="home"></span>Home</a></li>
      <li><a href="#aboutme"><span uk-icon="user"></span>About</a></li>
      <li><a href="#projects"><span uk-icon="folder"></span>Projects</a></li>
      <li><a href="#contactme"><span uk-icon="user"></span>Contact me</a></li>
    </ul>
  </div>
</div>
<div class="uk-text uk-padding-small">
  <h2 id="aboutme">
    About me
  </h2>
</div>
<div class="uk-margin-left">I am a Computer Science Student. I enjoy problem-solving and i have a great passion
  for coding and development.
  Always striving to bring 100% to the work I do. I have worked on technologies like HTML5, CSS, JavaScript, jQuery.
</div>
<div class="uk-text uk-padding-small">
  <h2 id="projects">
    Projects
  </h2>
</div>

<div class="uk-child-width-expand@s uk-text-center uk-height-match uk-margin-small-left" uk-grid>
  {{#each projects as |project| }}
  <div>

    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <img src="{{project.image_url}}" width="1800" height="1200" alt="">
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">{{project.name}}</h3>
        <p>{{project.description}}</p>
        <p uk-margin>

          <button class="uk-button uk-button-primary" onclick="window.location.href=' /project/{{project.id}}'">Click to
            see details</button>
        </p>
      </div>
    </div>


  </div>
  {{/each}}
</div>