<div class="uk-child-width-expand@s uk-text-center uk-width-1-2@m uk-height-match uk-margin-small-left" uk-grid>
  <div>
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <img src="./assets/get-unbored-overview.gif" width="1800" height="1200" alt="">
      </div>

      <div class="uk-card-body">
        <h3 class="uk-card-title">{{name}}</h3>
        <p class="uk-text-left">Description- <br>
          {{description}}
        </p>
        <p class="uk-text-left"> Technology used:<br>
          HTML<br>
          CSS<br>
          JavaScript<br>
          Materialize<br>
          UIKit<br>
          Moment.js
        </p>
        <p class="uk-text-left">
          Website Link: <a href="{{website_url}}">Link to website</a><br>
          Repository Link: <a href="{{repo_url}}">Github Repo Link</a>
        </p>
      </div>
    </div>
  </div>
</div>